<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.mobishift.cordova.plugins.wxpay" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>WXPay</name>
    <js-module name="WXPay" src="www/WXPay.js">
        <clobbers target="cordova.plugins.WXPay"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="WXPay">
                <param name="android-package" value="com.mobishift.cordova.plugins.wxpay.WXPay"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <activity android:exported="true" android:launchMode="singleTop" android:name=".wxapi.WXPayEntryActivity" />
        </config-file>
        <source-file src="src/android/libs/libammsdk.jar" target-dir="libs/" />
        <source-file src="src/android/WXPay.java" target-dir="src/com/mobishift/cordova/plugins/wxpay/WXPay"/>
    </platform>
    <platform name="ios">
        <config-file parent="/manifest/application" target="config.xml">
            <feature name="WXPay">
                <param name="ios-package" value="WXPay"/>
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>weixin</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>WX_APP_ID</string>
                    </array>
                </dict>
            </array>
        </config-file>
        <source-file src="src/ios/WXPay.m"/>
        <source-file src="src/ios/libWeChatSDK.a" framework="true"/>

        <header-file src="src/ios/WXApi.h"/>
        <header-file src="src/ios/WXApiObject.h" />

        
        <framework src="libsqlite3.0.dylib" />
        <framework src="libz.dylib" />
    </platform>
</plugin>